@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

*{padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.logo {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgb(193, 0, 22);
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
}

.menu a {
  display: flex;
  font-family: 'Chewy';
  font-size: 1.6em;
  justify-content: center; 
}

.menu a:hover {
  color: #581200;
}

main {
  padding: 10px 30px;
}

main .img {
  width: 556px;
  height: 270px;
  border-radius: 40px;
  margin-right: 10px;
  margin-top: 10px;
}



/* Smartphone Landscape */
@media (min-width: 576px) {

}
  /* Tablet Portrait */
@media (min-width: 768px) {

}
/* Tablet Landscape */
@media (min-width: 992px) {

}
/* PC */
@media (min-width: 1200px) {

}


